body {
  background-color: #ccc;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border: none;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(87, 87, 87);
  color: #fff;
  transition: 0.5s;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 100%;
  border: 3px solid black;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  font-size: 20px;
  color: #000000;
}

a:visited {
  color: rgb(90, 85, 85);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }