.slider {
    margin: 0 auto;
    width: 200vh;
    height: 100vh;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 55vh;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    margin-right: 5vh;
    border-radius: 5vh;
    width: 80vh;
    height: 80vh;
}

.manual-navigation {
    position: absolute;
    width: 80vh;
    margin-top: 20vh;
    margin-left: 10vh;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 0.5vh solid black;
    padding: 1vh;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 5vh;
}

.manual-btn:hover {
    background-color: gray;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 0.5vh solid black;
    padding: 1vh;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 80vh;
    margin-top: 78vh;
    margin-left: 10vh;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 5vh;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: black;
}