body {
    background-color: rgb(54, 54, 54);
}

div h1{
    color: #fffbfb;
    text-align: center;
    font-size: 50px;
}

div li {
    text-align: center;
    font-size: 20px;
    background-color: rgb(54, 54, 54);
    word-spacing: 5px;
}

h1 {
    color: #fffbfb;
    font-size: 30px;
}

li {
    list-style-type: none;
    background-color: rgb(104, 104, 104);
    padding: 20px;
    font-size: 20px;
}

p {
    font-size: 20px;
    color: #fffbfb;
}

a {
    color: #fffbfb;
}

a:visited {
    color: #01ff2b;
}

hr {
    border-color: #01ff2b;
}

footer {
    text-align: center;
}

footer p {
    font-size: 25px;
    color: #fffbfb;
    margin-bottom: 10px;
}